{% extends 'base.html.twig' %}

{% block title %}
    Biografía
{% endblock %}

{% block body %}

<!-- BIOGRAFIA - INICIO ***************************************************************** -->
<section class="about-us">
<h2 style="text-align: center">¿Quién es Margot Pereira?</h2>
	<div class="container">
		<div class="row align-items-center">   
					
  			<div class="col-sm-8"> 			
				
				<br>
				<p>					
				Soy carioca de nacimiento y portuguesa por parte de madre. He vivido en Rio de Janeiro, Lisboa, Barcelona y llevo 
				viviendo en Madrid desde el año 2003. <br>
				Mi amor por el deporte viene desde la infancia, en esa mezcla de juego y deporte que es la primera etapa de 
				nuestras vidas. A los 13 años empecé a tomármelo más en serio y formé parte de un equipo de gimnasia rítmica. <br> 
				Mi estreno en una carrera llegó a los 17 años. Recuerdo que las pasé canutas para llegar a la meta y 
				también que los pantalones cortos de color verde que me habían prestado me apretaban mucho. A día de hoy, sigo 
				teniendo esos pantalones cortos, porque eso momento fue para mí un punto de inflexión. Llegué a la conclusión de 
				que tenía que entrenar mucho si quería pasar las pruebas de aptitud para ingresar en Educación Física, y por otro 
				lado concluí que estaba por encima del peso ideal. <br>
				Después de trabajar duro en mis entrenamientos, conseguí ingresar en la universidad para estudiar Educación Física.
				En ese periodo me aficioné a correr. El pantalón corto verde ahora me entraba con anchura. De hecho, sigue siendo 
				así actualmente. Uno de los profesores de atletismo me apuntó al equipo de carreras de la universidad. En mi primera
				competición conseguí ganar la carrera. Aquel triunfo abrió para mí una ventana de oportunidades. Seguía entrenando 
				duro pero además, y esto es lo verdaderamente importarte, disfrutaba mucho corriendo. Me resultaba fácil ganar. Por 
				cada kilómetro ganado, surgía un nuevo reto de distancia y de tiempo que yo misma me ponía. 
				Así fue como surgió la idea de completar un maratón, lo que significaba un gran salto. 
				Ese era mi nuevo objetivo: terminar 42 kilómetros y 195 metros. 					
				</p>
			</div>			
				
    		<div class="col-sm-4">
				<br>
				<img src="assets/images/biografia/biografia.jpg" alt="Margot Pereira">
			</div>	
			
		</div><!-- class="row "-->
	</div><!-- container-->		

	<div class="container">
		<div class="row align-items-center"> 
			<div class="col-sm-12">
				<p>
				
				Por aquella época vivía en Copacabana (Rio de Janeiro) y salía a correr por la 
				mañana, muy temprano, por el paseo marítimo. Era un placer ver amanecer todos los días, junto al mar, en medio de un 
				paisaje inigualable. <br>
				Llegó el gran día y ahí estaba yo, con el uniforme de la universidad, queriendo completar mis primeros 42 km y 195 
				metros. Para mi sorpresa, no sólo conseguí terminar la carrera, quedé en el quinto puesto femenino con un tiempo 
				bastante bueno para una principiante: 3 horas y 6 minutos. Me resultaba increíble, y mis compañeros tampoco podían 
				creerlo. Después de aquella carrera exitosa surgió un patrocinador tan importante como inesperado: Nike. Como atleta de Nike estuve dando 
				charlas en empresas de Rio de Janeiro, no sólo sobre deporte sino también sobre la superación de desafíos y logro de 
				metas. <br>
				Por supuesto, seguía corriendo, cuanto más alcanzas más quieres… Suelo decir que el deporte es muy bueno, pero el 
				deporte de competición es muy duro y el cuerpo tiene sus límites. Una revisión médica descubrió algo que no había 
				notado antes: tenía una diferencia en la longitud de las piernas de 2 cm. Aquella circunstancia hizo que pasados tres 
				años tuviera serios problemas de ciática. <br>
				Mi lesión no impedía que pudiera seguir dando clases. Trabajaba como personal trainer y necesitaba tener mi cuerpo 
				perfectamente preparado. Por aquella época, en Brasil, no se podía vivir exclusivamente del deporte. Empecé a practicar 
				triathlon. Podría pensarse que esa mezcla de carrera, ciclismo y natación era menos dura que el maratón, pero en 
				realidad no era así. Participé en varias competiciones de diferentes distancias. He de reconocer que la natación no era 
				mi punto fuerte. Como no conseguía las metas que me había establecido, terminé pensando que mi carrera como deportista 
				de élite estaba acabada. <br>
				Aunque ya no podía correr como antes, tirar la toalla no estaba dentro de mis planes. Llevo el deporte en mis venas, 
				me hace sentir viva y me ayuda a mantener la mente activa y el cuerpo sano. Podía correr una vez a la semana, luego 
				practicar natación, ciclismo... En fin, buscar alternativas. <br>
				Tras un período de bajón, empecé a buscar otro objetivo, uno que fuera más asequible. Me apunté a algo completamente 
				distinto: empecé a estudiar informática en una época en que apenas se sabía lo que era un ordenador. Me apunté a un 
				curso gratuito y vi que me gustaba. Después me matriculé en una universidad privada. Me licencié en Programación de 
				Ordenadores, luego obtuve el título de Analista de Sistemas y finalmente hice un posgrado de Análisis de Sistemas. <br>
				Nuevo desafío, nuevos objetivos: quería entrar a trabajar en IBM. Estuve cinco años trabajando para una multinacional y 
				luego di el salto a IBM. Pasados tres años surgió la oportunidad de salir al extranjero. Corría el año 1998 y era la 
				época del «pánico» por el temido efecto del año 2000. Parecía que el final del mundo era inevitable y las empresas se 
				rifaban a los informáticos. Me fui a Portugal, pensando que mis raíces (soy hija de portuguesa) podrían ayudarme y que 
				todo sería fácil. La empresa que me había fichado resultó ser una trampa y de repente me vi convertida en una 
				inmigrante ilegal. La compañía se quedó con mi documentación y yo no estaba legalizada todavía. Algo debía de haber 
				hecho mal pero no sabía el qué. <br>
				Cuando por fin conseguí arreglar los papeles, decidí marcharme de allí y me fui a Barcelona, donde estuve tres años 
				trabajando. Después me vine a Madrid, ciudad en la que llevo viviendo desde 2003, ejerciendo como informática, 
				concretamente como de Jefe de Proyecto. Como en el mundo de la informática todo cambia muy rápido, recientemente me 
				puse al día obteniendo el Certificado de Profesional Scrum Master por la Scrum Organization y también el PMI_Agile 
				Certified Practitioner por el Project Management Institute. 
				A mediados del año 2021, por sugerencia de algunos de mis amigos y amigas que veían en mí un potencial para el 
				crecimiento personal, me interesé por el coaching y decidí sumergirme en el tema. Hice un curso de Especialización en 
				Coaching con Inteligencia Emocional y PNL en la Escuela de Inteligencia, acreditada por la Universidad Rey Juan Carlos 
				I y certificada por la Asociación Internacional de Coaches Profesionales. <br>
				Descubrí que en realidad esta nueva faceta de mi vida, la de poder enseñar y ayudar a los demás, no era muy diferente 
				a ser personal trainer, volvió a flote. Ahora había aprendido técnicas y sabía reconocer las dificultades que todos 
				tenemos en nuestro día a día. <br>
				Poco más puedo contar sobre mí. Soy una amante de la naturaleza y de los animales, una lectora ávida y también una 
				persona con ganas de aprender siempre y poder utilizar todas esas experiencias adquiridas para poder servir a los 
				demás con cuidado y generosidad. Huelga decir que sigo practicando deporte todos los días aunque no con la intensidad 
				de otros tiempos . Ya no debo correr, pero he descubierto en el senderismo un placer maravilloso, el de estar en la 
				naturaleza, sola o con amigos, paseando y haciendo kilómetros. Sigo nadando, practicando spinning y cuidando mi 
				alimentación. En esta nueva etapa de mi vida, en este nuevo reto, quiero compartir con los demás mis conocimientos 
				sobre deporte, alimentación, cuidado del cuerpo y de la mente, y ayudar a las personas a tener determinación y 
				valor para luchar por sus objetivos.

				</p>
			</div>
		</div>
	</div>
</section class="about-us">

<!-- BIOGRAFIA - FIN ***************************************************************** -->

<!-- jaquery link -->

		<script src="assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        
        <!--modernizr.min.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>		
		
		<!--bootstrap.min.js-->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>
		
		<!-- for manu -->
		<script src="assets/js/jquery.hc-sticky.min.js" type="text/javascript"></script>
		
		<!-- vedio player js -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--owl.carousel.js-->
        <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
		
		<!-- counter js -->
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>		
        
        <!--Custom JS-->
        <script type="text/javascript" src="assets/js/jak-menusearch.js"></script>
        <script type="text/javascript" src="assets/js/custom.js"></script>
		
{% endblock %}