{% extends 'base.html.twig' %}

{% block titulo %}            
    Home
{% endblock %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}
   
{% block menu %}  
    {% include "menu.html.twig" %}  
{% endblock %}

{% block body %}  		
		
		<!-- header-slider-area start -->
		<section class="header-slider-area">
			{#<div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">#}
			
			  <!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="single-slide-item slide-1">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<!--<h2>Coaching</h2> -->
											<p>
												Tú no eres lo que te ha ocurrido a lo largo de tu vida. Lo que te pasó no te define, sino lo que haces con lo que te pasó. Eres lo que eliges ser. <br>

												El coaching es para quien lo quiere, no para quien lo necesita, porque durante este proceso el coachee, con la ayuda del coach, se verá desafiado 
												a salir de su zona de confort, donde no hay crecimiento. Entonces, inevitablemente mirará a la cara a sus miedos, creencias, valores y saboteadores, 
												desafiando su mente y trayendo así a la conciencia los puntos de mejora que promoverán su crecimiento. <br>
												Puedes reescribir tu historia. Desaprender para volver a aprender, en lugar de hacer lo mismo una y otra vez. Porque todo es una cuestión de perspectiva. <br>
												Un mar en calma nunca hizo un buen marinero. Valora la tormenta, ¡es lo que te enseñará a navegar más y mejor! <br>
												Ten claro que sólo se ayuda a los que quieren ser ayudados. Busca tu mejor versión. <br> 
												La mejor manera de predecir tu futuro es crearlo. <br>
												«El que no camina no sabe a dónde va, y como no sabe a dónde va, no camina». <br>
												La acción cura y la inacción enferma. <br>
												Tú eres el protagonista de tu historia, yo soy la que te puedo acompañar para cambiarla. 
											</p>
											{#<button type="button" class="slide-btn">
											empezar
											</button>#}
											{#<button type="button"  class="slide-btn">
												explorar más
											</button>#}
											
										</div><!-- /.single-slide-item-content-->
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->

                    {#
					<div class="item">
						<div class="single-slide-item slide-2">
							<div class="container">
								<div class="row">
									<div class="col-sm-12">
										<div class="single-slide-item-content">
											<h2>
												COACHING
											</h2>
											<p>
												El coaching es un proceso, en el cual el coach (profesional que debe contar con una certificación para ejercer el oficio) brinda un acompañamiento creativo, introspectivo, reflexivo y a la medida, con el objetivo de ayudar al individuo o al grupo a rendir al máximo sus capacidades y habilidades a través de nuevos aprendizajes y generación de posibilidades.  
											</p>
											<button type="button"  class="slide-btn">
												get started
											</button>
											<button type="button"  class="slide-btn
											">
												explore more
											</button>
										</div><!-- /.single-slide-item-content-->
									
									</div><!-- /.col-->
								</div><!-- /.row-->
							</div><!-- /.container-->
						</div><!-- /.single-slide-item-->
					</div><!-- /.item .active-->
                    #}
				</div><!-- /.carousel-inner-->

				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="lnr lnr-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="lnr lnr-chevron-right"></span>
				</a>
			</div><!-- /.carousel-->

		</section><!-- /.header-slider-area-->
		<!-- header-slider-area end -->
		
<!-- COACHING - INICIO ***********************************************************************-->

<section class="about-us">
	<div class="container">
		<div class="row align-items-center">
    		<div class="col-sm-12">  
				<h2 style="text-align: center">¿Qué es el <i>coaching</i>?</h2>

                <p><strong></strong><br>

					El <i>coaching</i> profesional consiste en una relación profesional continuada que ayuda a obtener resultados extraordinarios en la vida, profesión, empresa o negocios de las personas. Mediante el proceso de <i>coaching</i>, el cliente profundiza en su conocimiento, aumenta su rendimiento y mejora su calidad de vida.

					El <i>coaching</i> se basa en el respeto al otro como legítimo otro, dejando espacio para que el otro sea como es. 

					<i>Coaching</i> es entrenamiento en habilidades de comunicación y de liderazgo que fomentan el autoconocimiento y el contacto de la persona con su entorno.

					Nuestro punto de partida es interpretar a las personas como seres lingüísticos, que se crean a sí mismos a través del lenguaje.
				</p>
				<br><br>
				<center>		
					<img src="assets/images/about/manos.jpg" alt="about images">					
				</center>		
				<br><br><br>
				<h2 style="text-align: center">Principios del <i>coaching</i></h2>
				<br>
				<p><strong>
					1. Nadie está en posesión de la verdad
				</strong>				
				<br>
					La misma realidad puede observarse desde diferentes puntos de vista y llegar a interpretaciones y, 
					por tanto, conclusiones diferentes pero igual de legítimas.
				<br>
				<br>
				
				<strong>2. Las personas actúan de la mejor manera dentro de sus posibilidades</strong>
				<br>
					El <i>coaching</i> permite el descubrimiento de nuevas maneras de hacer las cosas a partir del cambio de creencias limitantes.
				<br><br>

				<p><strong>3. Todo individuo lleva un talento que espera ser revelado</strong>
				<br>
					El ser humano es completo, no le falta nada. En su interior contiene un enorme potencial que espera ser liberado. El <i>coaching</i> facilita esta liberación. El coachee es autónomo: es quien decide, quien opta y quien, en último término, resuelve.
				<br><br>
				</p>
				<p><strong>4. Las personas pueden cambiar</strong>
				<br>
					Los hechos no se pueden cambiar, pero sí la interpretación de los hechos: podemos elegir las interpretaciones que les damos. Todo lo que no es genético se puede cambiar.
				<br><br>
				</p>
				<p><strong>5. Confidencialidad</strong>
				<br>
					Nada de lo que diga el coachee trasciende fuera de las sesiones de <i>coaching</i>, ni de ese entorno seguro.
				<br><br>
				</p>
				<p><strong>6. Ser / Hacer</strong>
				<br>
					El <i>coaching</i> diferencia lo que HACEMOS de lo que SOMOS. Defiende que somos mucho más de lo que hacemos y que podemos elegir quién SER.
				</p>					
			</div><!-- class="col-sm-12"-->		
			
		</div><!--div row> -->
	</div><!--/.container-->
</section><!--/.about-us--><!--about-us end -->

<!-- COACHING - FIN ***********************************************************************-->		

<!-- BIOGRAFIA - INICIO ***************************************************************** -->
<section class="about-us">
<h2 style="text-align: center">¿Quién es Margot Pereira?</h2>
	<div class="container">
		<div class="row align-items-center">   
					
  			<div class="col-sm-8"> 			
				
				<br>
				<p>					
				Soy carioca de nacimiento y portuguesa por parte de madre. He vivido en Rio de Janeiro, Lisboa, Barcelona y llevo 
				viviendo en Madrid desde el año 2003. <br>
				Mi amor por el deporte viene desde la infancia, en esa mezcla de juego y deporte que es la primera etapa de 
				nuestras vidas. A los 13 años empecé a tomármelo más en serio y formé parte de un equipo de gimnasia rítmica. <br> 
				Mi estreno en una carrera llegó a los 17 años. Recuerdo que las pasé canutas para llegar a la meta y 
				también que los pantalones cortos de color verde que me habían prestado me apretaban mucho. A día de hoy, sigo 
				teniendo esos pantalones cortos, porque eso momento fue para mí un punto de inflexión. Llegué a la conclusión de 
				que tenía que entrenar mucho si quería pasar las pruebas de aptitud para ingresar en Educación Física, y por otro 
				lado concluí que estaba por encima del peso ideal. <br>
				Después de trabajar duro en mis entrenamientos, conseguí ingresar en la universidad para estudiar Educación Física.
				En ese periodo me aficioné a correr. El pantalón corto verde ahora me entraba con anchura. De hecho, sigue siendo 
				así actualmente. Uno de los profesores de atletismo me apuntó al equipo de carreras de la universidad. En mi primera
				competición conseguí ganar la carrera. Aquel triunfo abrió para mí una ventana de oportunidades. Seguía entrenando 
				duro pero además, y esto es lo verdaderamente importarte, disfrutaba mucho corriendo. Me resultaba fácil ganar. Por 
				cada kilómetro ganado, surgía un nuevo reto de distancia y de tiempo que yo misma me ponía. 
				Así fue como surgió la idea de completar un maratón, lo que significaba un gran salto. 
				Ese era mi nuevo objetivo: terminar 42 kilómetros y 195 metros. 
					
				</p>
			</div>			
				
    		<div class="col-sm-4">
				<br>
				<img src="assets/images/biografia/biografia.jpg" alt="Margot Pereira">
			</div>	
			
		</div><!-- class="row "-->
	</div><!-- container-->		

	<div class="container">
		<div class="row align-items-center"> 
			<div class="col-sm-12">
				<p>
				
				Por aquella época vivía en Copacabana (Rio de Janeiro) y salía a correr por la 
				mañana, muy temprano, por el paseo marítimo. Era un placer ver amanecer todos los días, junto al mar, en medio de un 
				paisaje inigualable. <br>
				Llegó el gran día y ahí estaba yo, con el uniforme de la universidad, queriendo completar mis primeros 42 km y 195 
				metros. Para mi sorpresa, no sólo conseguí terminar la carrera, quedé en el quinto puesto femenino con un tiempo 
				bastante bueno para una principiante: 3 horas y 6 minutos. Me resultaba increíble, y mis compañeros tampoco podían 
				creerlo. Después de aquella carrera exitosa surgió un patrocinador tan importante como inesperado: Nike. Como atleta de Nike estuve dando 
				charlas en empresas de Rio de Janeiro, no sólo sobre deporte sino también sobre la superación de desafíos y logro de 
				metas. <br>
				Por supuesto, seguía corriendo, cuanto más alcanzas más quieres… Suelo decir que el deporte es muy bueno, pero el 
				deporte de competición es muy duro y el cuerpo tiene sus límites. Una revisión médica descubrió algo que no había 
				notado antes: tenía una diferencia en la longitud de las piernas de 2 cm. Aquella circunstancia hizo que pasados tres 
				años tuviera serios problemas de ciática. <br>
				Mi lesión no impedía que pudiera seguir dando clases. Trabajaba como personal trainer y necesitaba tener mi cuerpo 
				perfectamente preparado. Por aquella época, en Brasil, no se podía vivir exclusivamente del deporte. Empecé a practicar 
				triathlon. Podría pensarse que esa mezcla de carrera, ciclismo y natación era menos dura que el maratón, pero en 
				realidad no era así. Participé en varias competiciones de diferentes distancias. He de reconocer que la natación no era 
				mi punto fuerte. Como no conseguía las metas que me había establecido, terminé pensando que mi carrera como deportista 
				de élite estaba acabada. <br>
				Aunque ya no podía correr como antes, tirar la toalla no estaba dentro de mis planes. Llevo el deporte en mis venas, 
				me hace sentir viva y me ayuda a mantener la mente activa y el cuerpo sano. Podía correr una vez a la semana, luego 
				practicar natación, ciclismo... En fin, buscar alternativas. <br>
				Tras un período de bajón, empecé a buscar otro objetivo, uno que fuera más asequible. Me apunté a algo completamente 
				distinto: empecé a estudiar informática en una época en que apenas se sabía lo que era un ordenador. Me apunté a un 
				curso gratuito y vi que me gustaba. Después me matriculé en una universidad privada. Me licencié en Programación de 
				Ordenadores, luego obtuve el título de Analista de Sistemas y finalmente hice un posgrado de Análisis de Sistemas. <br>
				Nuevo desafío, nuevos objetivos: quería entrar a trabajar en IBM. Estuve cinco años trabajando para una multinacional y 
				luego di el salto a IBM. Pasados tres años surgió la oportunidad de salir al extranjero. Corría el año 1998 y era la 
				época del «pánico» por el temido efecto del año 2000. Parecía que el final del mundo era inevitable y las empresas se 
				rifaban a los informáticos. Me fui a Portugal, pensando que mis raíces (soy hija de portuguesa) podrían ayudarme y que 
				todo sería fácil. La empresa que me había fichado resultó ser una trampa y de repente me vi convertida en una 
				inmigrante ilegal. La compañía se quedó con mi documentación y yo no estaba legalizada todavía. Algo debía de haber 
				hecho mal pero no sabía el qué. <br>
				Cuando por fin conseguí arreglar los papeles, decidí marcharme de allí y me fui a Barcelona, donde estuve tres años 
				trabajando. Después me vine a Madrid, ciudad en la que llevo viviendo desde 2003, ejerciendo como informática, 
				concretamente como de Jefe de Proyecto. Como en el mundo de la informática todo cambia muy rápido, recientemente me 
				puse al día obteniendo el Certificado de Profesional Scrum Master por la Scrum Organization y también el PMI_Agile 
				Certified Practitioner por el Project Management Institute. 
				A mediados del año 2021, por sugerencia de algunos de mis amigos y amigas que veían en mí un potencial para el 
				crecimiento personal, me interesé por el coaching y decidí sumergirme en el tema. Hice un curso de Especialización en 
				Coaching con Inteligencia Emocional y PNL en la Escuela de Inteligencia, acreditada por la Universidad Rey Juan Carlos 
				I y certificada por la Asociación Internacional de Coaches Profesionales. <br>
				Descubrí que en realidad esta nueva faceta de mi vida, la de poder enseñar y ayudar a los demás, no era muy diferente 
				a ser personal trainer, volvió a flote. Ahora había aprendido técnicas y sabía reconocer las dificultades que todos 
				tenemos en nuestro día a día. <br>
				Poco más puedo contar sobre mí. Soy una amante de la naturaleza y de los animales, una lectora ávida y también una 
				persona con ganas de aprender siempre y poder utilizar todas esas experiencias adquiridas para poder servir a los 
				demás con cuidado y generosidad. Huelga decir que sigo practicando deporte todos los días aunque no con la intensidad 
				de otros tiempos . Ya no debo correr, pero he descubierto en el senderismo un placer maravilloso, el de estar en la 
				naturaleza, sola o con amigos, paseando y haciendo kilómetros. Sigo nadando, practicando spinning y cuidando mi 
				alimentación. En esta nueva etapa de mi vida, en este nuevo reto, quiero compartir con los demás mis conocimientos 
				sobre deporte, alimentación, cuidado del cuerpo y de la mente, y ayudar a las personas a tener determinación y 
				valor para luchar por sus objetivos.

				</p>
			</div>
		</div>
	</div>
</section class="about-us">

<!-- BIOGRAFIA - FIN ***************************************************************** -->

<!-- SERVICIOS-INICIO ************************************************************************************** -->

<section  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>Nuestros servicios</h2>							
						
						</div><!--/.section-header-->
						<div class="service-content-one">
							<div class="row">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service1.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Servicios de coaching para empresas/particulares</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service2.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> online</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service3.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> presencial</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.service-content-one-->
						<div class="service-content-two">
							<div class="row">

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service4.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Formación y talleres de <i>coaching</i></a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service5.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> individual</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> de pareja</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->	
                        </div>	

                        <div class="service-content-three">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> de grupo</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Orientación profesional</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#"><i>Coaching</i> familiar</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
                        </div>	
                        						
                        <div class="service-content-four">
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="assets/images/service/service6.png" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h2>
												<a href="#">Conferencias</a>
											</h2>
											<p>
												Lorem ipsum dolo dolor in  in voluptate velit esse cillum dolore. epteur sint oat cupidatat 
											</p>
											<!-- <a href="#" class="service-btn">
												saber más
											</a> -->
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->

							</div><!--/.row-->
						</div><!--/.service-content-two-->
					</div><!--/.service-details-->
				</div><!--/.container-->

</section><!--/.service-->

<!-- SERVICIOS - FIN ************************************************************************************** -->

<!-- PRECIOS-INICIO ************************************************************************************** -->
		
<section id="pricing" class="pricing">
			<div class="container">
				<div class="pricing-details">
					<div class="section-header text-center">
						<h2 class="price-head">Tabla de precios</h2>
						<p>
							Pida presupuesto sin ningún tipo de compromiso.							
						</p>
					</div><!--/.section-header-->
					<div class="pricing-content">
						<div class="row">

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>Personal</h2>
										<h3 class="packeg_p"><span>€</span>60</h3>
										<p>Semanal</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>A domicilio</li>
										<li>7 sesiones personalizadas</li>
										<li>Programa individual</li>
										<li>Informe completo de proceso</li>										
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="{{ path('carroCompra') }}" class="project-view">
											Adquirir
										</a>
									</div>

								</div><!--/.pricing-box-->
							</div><!--/.col-->

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>Paquete entero</h2>
										<h3 class="packeg_p"><span>€</span>350</h3>
										<p>Mensual</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>7 sesiones personalizadas + 4 de mantenimiento</li>
										<li>Programa individual</li>
										<li>Informe completo de proceso</li>
										<li> </li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="{{ path('carroCompra') }}" class="project-view">
											Adquirir
										</a>
									</div>
								</div><!--/.pricing-box-->
							</div><!--/.col-->

							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>Equipos</h2>
										<h3 class="packeg_p"><span>€</span>499</h3>
										<p>Mensual</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>7 sesiones personalizadas + 1 de mantenimiento</li>
										<li>10 - 12 personas</li>
										<li>Informe completo de proceso</li>
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="{{ path('carroCompra') }}" class="project-view">
											Adquirir
										</a>
									</div>
								</div><!--/.pricing-box-->
							</div><!--/.col-->

							
							<div class="col-md-3 col-sm-6">
								<div class="pricing-box">
									<div class="pricing-header">
										<h2>On line</h2>
										<h3 class="packeg_p"><span>€</span>60</h3>
										<p>Mensual</p>
									</div><!--/.pricing-header-->
									<ul class="plan-lists">
										<li>Sesión personal</li>
										<li>7 sesiones personalizadas</li>
										<li>Programa individual</li>
										<li>Informe completo de proceso</li>	
									</ul><!--/ul-->
									
									<div class="project-btn pricing-btn text-center">
										<a href="{{ path('carroCompra') }}" class="project-view">
											Adquirir
										</a>
									</div>
								</div><!--/.pricing-box-->
							</div><!--/.col-->
							

						</div><!--/.row-->
					</div><!--/.pricing-content-->
				</div><!--/.pricing-details-->
			</div><!--/.container-->

</section><!--/.pricing-->

<!-- PRECIOS - FIN ************************************************************************************** -->	

<!-- TESTIMONIOS - INICIO **************************************************************************************-->

<section class="testemonial">
			<div class="container">
				<div class="section-header text-center">
					<h2>
						<span>							
							Lo que dicen nuestros clientes de nosotros 
						</span>
					</h2>
				</div><!--/.section-header-->
				<div class="owl-carousel owl-theme" id="testemonial-carousel">
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial1.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								
								<p>
									«Margot Pereira ha incorporado técnicas procedentes del deporte al mundo del coaching»									
								</p>
								<h3>
									<a href="#">
										Kevin Watson
									</a>
								</h3>
								<h4>CEO, Kingston</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial2.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								
								<p>
									«Gracias a esta coach conseguí deshacerme de los malos hábitos que lastraban mi vida»						
								</p>
								<h3>
									<a href="#">
										Jean Pierre Leblanc
									</a>
								</h3>
								<h4>CEO, Coca-cola</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
					<div class="home1-testm item">
						<div class="home1-testm-single text-center">
							<div class="home1-testm-img">
								<img src="assets/images/client/testimonial3.jpg" alt="img"/>
							</div><!--/.home1-testm-img-->
							<div class="home1-testm-txt">
								
								<p>
									«Empecé yendo yo sola y al final acabó yendo toda la plantilla. Ahora sí que somos un equipo»									
								</p>
								<h3>
									<a href="#">
										Lucía Fernández
									</a>
								</h3>
								<h4>Jefa de personal, Sugus Co.</h4>
							</div><!--/.home1-testm-txt-->	
						</div><!--/.home1-testm-single-->
					</div><!--/.item-->
				</div><!--/.testemonial-carousel-->
			</div><!--/.container-->

</section><!--/.testimonial-->

<!-- TESTIMONIOS - FIN **************************************************************************************-->




		<!-- JQUERY LINK -->

		<script src="assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        
        <!--modernizr.min.js-->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>		
		
		<!--bootstrap.min.js-->
        <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
		
		<!-- bootsnav js -->
		<script src="assets/js/bootsnav.js"></script>
		
		<!-- for manu -->
		<script src="assets/js/jquery.hc-sticky.min.js" type="text/javascript"></script>
		
		<!-- vedio player js -->
		<script src="assets/js/jquery.magnific-popup.min.js"></script>

		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

        <!--owl.carousel.js-->
        <script type="text/javascript" src="assets/js/owl.carousel.min.js"></script>
		
		<!-- counter js -->
		<script src="assets/js/jquery.counterup.min.js"></script>
		<script src="assets/js/waypoints.min.js"></script>
		
        <!--Custom JS-->
        <script type="text/javascript" src="assets/js/jak-menusearch.js"></script>
        <script type="text/javascript" src="assets/js/custom.js"></script>
		
{% endblock %}

{% block banner %}  	
	{% include "banner.html.twig" %} 
{% endblock %}